<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: head"></div>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div th:replace="base :: navlinks"></div>
</div>
<div class="container">
    <div class="jumbotron jumbotron-fluid"><h1 class="display-4">
        <img src="http://res.cloudinary.com/dkoqxjnsr/image/upload/ar_1:1,b_rgb:262c35,bo_5px_solid_rgb:ff0000,c_fill,g_auto,r_max/v1532009414/missing_dog_ohiyhq.jpg" alt="Missing Dog Logo"
        Fido is Missing!</h1></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Owner</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Date Lost</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.user.username}"></td>
            <td th:text="${pet.name}"></td>
            <td><div th:if="${pet.image} !=null"><img th:src="${pet.image}"></div></td>
            <td th:text="${pet.datelost}"></td>
            <td th:text="${pet.description}"></td>
            <td th:text="${pet.status}"></td>
        </tr>
        </tbody>
    </table>


    <div sec:authorize="isAuthenticated()">
        <form action="/addPet">
            <button type="submit" class="btn btn-outline-danger">Post your lost pet</button>
        </form>
        <br>
        <form action="/user">
            <button type="submit" class="btn btn-outline-warning">Your Page</button>
        </form>
        <br>
        <form action="/logout">
            <button type="submit" class="btn btn-outline-dark">Logout</button>
        </form>
        <br>
        Logged User: <span sec:authentication="name"></span><br>
        Roles: <span sec:authentication="principal.authorities"></span><br>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <form action="/login">
            <button type="submit" class="btn btn-outline-secondary">LogIn</button>
        </form>
        <form action="/register">
            <button type="submit" class="btn btn-outline-success">Sign Up</button>
        </form>
    </div>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div th:replace="base :: footer"></div>
<div th:replace="base :: bootstrap_footer"></div></body>
</html>