<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="base :: head"></div>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You Have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label>User Name:
            <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Password:
            <input type="password" name="password"/></label>
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<div th:replace="base :: footer"></div>
<div th:replace="base :: bootstrap_footer"></div>
</body>
</html>