<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head">
    <title>petform</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div th:replace="base :: navlinks"></div>
</div>
<div class="container" >
    <form action="/addPet" th:object="${pet}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <h4 class="text-info"><strong>Pet's Name : </strong><input type="text" th:field="*{name}"></h4>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br />
        </div>

        <div class="form-group">
            <h4 class="text-info"><strong>Date Lost : </strong><input type="date" th:field="*{datelost}" /></h4>
            <span th:if="${#fields.hasErrors('datelost')}" th:errors="*{datelost}"></span><br />
        </div>


        <div th:if="${image != null}">
            <img th:src="${image}" alt="pet image"/>
        </div>

        <input type="hidden" th:value="${image}" name="hiddenImgURL"/>

        <div class="form-group">
            <h4 class="text-info"><strong><span th:inline="text">[[${imageLabel}]]:</span></strong><input type="file" name="file" /></h4>
        </div>

        <div class="form-group">
        <h4 class="text-info"><strong>Description: </strong></h4>
            <textarea placeholder="Describe your missing pet!" rows="8" cols="80" th:field="*{description}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br /></div>

        <label for="status">Status</label>
        <select id="status" class="form-group" th:field="*{status}">
            <option value="Lost">Lost</option>
            <option value="Found">Found</option>
        </select>

        <div class="form-group">
            <input class="button" type="submit" value="Submit" /></div>
    </form><br>

    <div sec:authorize="isAuthenticated()">
        Logged User: <span sec:authentication="name"></span><br>
        Roles: <span sec:authentication="principal.authorities"></span><br>
        <a href="/user">Go To your page</a>
        <a href="/">HomePage</a><br>
        <a href="/logout">Logout</a>
    </div>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div th:replace="base :: footer"></div>
<div th:replace="base :: bootstrap_footer"></div></body>
</html>