<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: head"></div>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div th:replace="base :: navlinks"></div>
</div>
<div class="container">
    <div class="jumbotron jumbotron-fluid"><h1 class="display-4">Fido is Missing</h1></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Date Lost</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.name}"></td>
            <td><div th:if="${pet.image} !=null"><img th:src="${pet.image}"></div></td>
            <td th:text="${pet.datelost}"></td>
            <td th:text="${pet.description}"></td>
            <td> <span th:text="${pet.status}"> </span><a th:href="@{/changeStatus/{id} (id=${pet.id})}">ChangeStatus</a>
            </td>
            <td><div sec:authorize="isAuthenticated()">
                <a th:href="@{/updatePet/{id} (id=${pet.id})}">Update</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <div sec:authorize="isAuthenticated()">
        <form action="/addPet">
            <button type="submit" class="btn btn-outline-danger">Post your lost pet</button>
        </form>
        <form action="/updateUser">
            <button type="submit" class="btn btn-outline-info">Update Profile</button>
        </form>
        <br>
        Logged User: <span sec:authentication="name"></span><br>
        Roles: <span sec:authentication="principal.authorities"></span><br>


        <form action="/logout">
            <button type="submit" class="btn btn-outline-dark">Logout</button>
        </form>
    </div>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div th:replace="base :: footer"></div>
<div th:replace="base :: bootstrap_footer"></div>
</body>
</html>